* {
  box-sizing: border-box;
}

.container {
  /* display: flex; */
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
  position: relative;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

.logo ul {
  justify-content: center;
}

/* ///////////Responsive Layout///////////// */

/* @media screen and (width <= 576px) {
  .row .column-full {
    flex-basis: 50%;
  }
}

@media screen and (width <= 768px) {
  .row .column-full {
    flex-basis: calc(100% / 3);
  }

  .container {
    font-size: 10%;
  }
} */
