* {
  box-sizing: border-box;
}

.container {
  /* display: flex; */
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
  position: relative;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

.logo ul {
  justify-content: center;
}

/* ///////////Responsive Layout///////////// */

/* @media screen and (width <= 576px) {
  .row .column-full {
    flex-basis: 50%;
  }

  #mobile-nav-bar {
    flex-direction: row;
    justify-content: space-around;
  }

  #nav-bar a {
    font-size: 0;

    /* hides text in desktop format */

  #mobile-nav-bar a i {
    font-size: 24px;

    /* icon size */
    color: #007bff;

    /* change color */
  }

  #mobile-nav-bar li {
    margin-right: 0;

    /* Remove spacing between items */
  }

@media screen and (width <= 768px) {
  .row .column-full {
    flex-basis: calc(100% / 3);
  }

  .container {
    font-size: 10%;
  }
}
  }
} */
