.container {
  background-color: #212320;
  font-family: 'Cormorant Garamond', serif;
}

a {
  text-decoration: none;
  color: #d8d0bc;
  margin-top: 20%;
  padding-top: 20%;
  font-size: 1.25rem;
  font-weight: 100;
}

a:hover {
  cursor: pointer;
  color: #c0ab77;
}

.logo {
  color: #d8d0bc;
  font-size: 2rem;
  font-weight: 100;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  align-items: center;
}

#search-bar {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1rem;
  background-color: #d9d9d9;
  color: #212320;
  border-radius: 7px;
  padding: 3px;
  padding-right: 15%;
  outline: none;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

#search-bar:focus {
  border-color: #730220;
  background-color: #edecec;
}

#search-bar::placeholder {
  color: #9d9c9c;
}

/* .fa-magnifying-glass {
  color: #9d9c9c;
} */

/* .column-full .search-bar {
  margin: 0 auto;
} */

.homepage-photo {
  background-image: url('../images/books-homepage.jpg');
  background-size: cover;
  background-position: center;
  filter: contrast(75%);
  position: relative;
  width: 100%;
  height: 65vh;
}

h1 {
  color: #d8d0bc;
  position: absolute;
  padding: 20px;
  font-size: 4rem;
  font-weight: 200;
}

#favorites {
  top: 10%;
  left: 10%;
}

#place {
  top: 50%;
  left: 60%;
}

h2 {
  color: #212320;
  font-size: 2rem;
}

.row.bottom {
  background-color: #d8d0bc;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.column-full.bottom {
  display: flex;
  justify-content: center;
}
